<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>

                <table>

                    <tr class="column-header">
                        <td>Destination</td>
                        <td>LineID</td>
                        <td>TimeToArrive</td>
                    </tr>

                    <tr th:each ="prod : ${busInfo.stoppointswrapper.getStopPoints()}">
                        <td th:text ="${prod.getCommonName()}"></td>
                        <td th:text ="${prod.getIndex()}"></td>
                        <td th:text ="${prod.getNaptanId()}"></td>
                    </tr>
                <!-- <p> AAAA <span th:each="${busInfo}"> </span></p> -->
                <!-- <p> th:text="${busInfo.lineId}"</p> -->

                </table>
            </div>
        </div>
    </body>
</html>